@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #fff7ed;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-inter);
}

@utility link-button {
  @apply inline-block w-full cursor-pointer rounded-[5px] px-[1.375rem] py-[0.75rem] text-center font-bold text-white transition-transform duration-100 ease-in-out hover:translate-px;
}
